#frontpage {
  display: grid !important;
  grid-template-areas: "sectionone sectiontwo" !important;
  grid-template-rows: auto !important; /* Esto ajustará las filas automáticamente según el contenido */
  grid-template-columns: 1fr 1fr !important; /* Esto asegura que hay dos columnas de igual ancho */
  width: 100% !important;
  height: 100% !important;
}

.section-one {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
}
.section-two {
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar {
  width: 50% !important;
  margin: 60px;
}
.title-container {
  margin-right: 100px;
  display: flex;
  flex-direction: column;
}
.title {
  font-size: 4rem;
  font-weight: 700;
}
.subtitle {
  font-size: 2rem;
}
.bg-text{
  color: white;
}