#frontpage {
  display: grid !important;
  grid-template-areas: "sectionone sectiontwo" !important;
  grid-template-rows: auto !important; /* Esto ajustará las filas automáticamente según el contenido */
  grid-template-columns: 1fr 1fr !important; /* Esto asegura que hay dos columnas de igual ancho */
  width: 100% !important;
  height: 100% !important;
}

.section-one {
  grid-area: sectionone;
  width: 100% !important;
  height: 100% !important;
  display: flex;
  flex-direction: column;
  margin-top: 60%;
}
.section-two {
  grid-area: sectiontwo;
  width: 100% !important;
  height: 100% !important;
  margin-top: 20%;
}

.avatar {
  width: 100% !important;
}
.title {
  font-size: 4rem;
  font-weight: 700;
}
.subtitle {
  font-size: 2rem;
}
